@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

:root {
  --black: #4d4c59;
  --purple: #6c63ff;
  --light-grey: #c4c4c4;
  --text-color: #9c9ab6;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
}

main {
  width: 100vw;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 82px;
}

.top-image {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.bottom-image {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: -1;
}

.section-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-1 h1 {
  color: var(--purple);
  font-family: Poppins;
  font-size: 36px;
  font-weight: 700;
  line-height: 54px;
  letter-spacing: 0.105em;
  margin-bottom: 20px;
}

.counter-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.d-h-m-s {
  color: var(--light-grey);
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
  letter-spacing: 0em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 75px;
}

#counter {
  font-size: 72px;
  font-weight: 400;
  line-height: 108px;
  letter-spacing: 0em;
  color: var(--black);
}

.sub-call {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  color: var(--text-color);
  margin-bottom: 30px;
  margin-top: 20px;
}

.subscribe {
  background: var(--purple);
  border: none;
  outline: none;
  height: 46px;
  width: 160px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  color: #fff;
  cursor: pointer;
}

.modal {
  /* display: none;  */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  font-family: 'Poppins', sans-serif;
}

.modal-content {
  background-color: #fefefe;
  margin: 6% auto;
  padding: 60px;
  border: none;
  outline: none;
  width: 500px;
  position: relative;
  border-radius: 12px;
}

.close {
  color: #aaa;
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  margin-bottom: 40px;
  padding-bottom: 10px;
  font-size: 40px;
  color: var(--text-color);
  font-weight: 500;
  text-align: center;
  border-bottom: 1px solid #bbb;
}

.input-wrap {
  position: relative;
  height: 37px;
  margin-bottom: 2rem;
}

.input-field {
  position: absolute;
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid #bbb;
  padding: 0;
  font-size: 15px;
  color: #151111;
  transition: 0.4s;
}

form label {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 00.95rem;
  color: #bbb;
  pointer-events: none;
  transition: 0.4s;
}

.input-field.active {
  border-bottom-color: #151111;
}

.input-field.active + label {
  font-size: 0.75rem;
  top: -2px;
}

.btn-modal {
  margin-top: 20px;
  width: 100%;
}
span.error {
  display: flex;
  justify-content: right;
  color: #ff3c3c;
  font-size: 10px;
  font-style: italic;
  margin-top: 4px;
}

span.error.on {
  color: #ff3c3c;
  font-size: 10px;
}
